<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Product</title>
</head>
<body>
<h1>Create Product</h1>
<form th:action="@{/products/new}" th:object="${product}" method="post">
    Brand: <input type="text" th:field="*{brand}" required /><br/>
    Model: <input type="text" th:field="*{model}" required /><br/>
    Colour: <input type="text" th:field="*{colour}" /><br/>
    Capacity: <input type="number" th:field="*{capacity}" /><br/>
    Price: <input type="number" th:field="*{price}" /><br/>
    Year: <input type="number" th:field="*{yearOfManufacture}" /><br/>
    Discount: <input type="number" th:field="*{discount}" /><br/>
    <button type="submit">Save</button>
</form>
<a th:href="@{/}">Back to Home</a>
</body>
</html>